{% extends "common/layout.html" %}

{% block content %}
<div class="row">
    <div class="page-header">
        <h3 class="error-msg">错误提示</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger alert-dismissible fade in">
                <p class="text-center error-text">Oops</p>
                <p class="text-center error-msg">{{ msg }}</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}

